@import "src/shared/styles/constants.scss";
@import "src/shared/styles/mixins.scss";

.nav {
  display: flex;
  justify-content: flex-start;
  padding-left: 80px;

  @include mini-laptop {
    padding-left: 20px;
  }
}

.nav__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  height: fit-content;
}

.nav__counter {
  @extend .font-counter;
  color: $primary;
}

.nav__buttons {
  display: flex;
  gap: 20px;
}
