@import "src/shared/styles/mixins.scss";

.swiper {
  width: 100%;
}

.swiper__wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
}

.swiper__slide {
  @include big-mobile {
    max-width: 150px;
  }
}
