@import "src/shared/styles/constants.scss";
@import "src/shared/styles/mixins.scss";

.event-element {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: fit-content;
  height: 135px;

  @include tablet {
    height: fit-content;
  }
}

.event-element__year {
  @extend .font-small-year;
}

.event-element__text {
  @extend .font-simple;
}
