$primary: #42567a;
$secondary: #3877ee;
$light-divider: rgba($primary, 0.1);
$line-gradient: linear-gradient(180deg, #3877ee -5%, #ef5da8 85%);

.font-header {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 120%;
  color: $primary;
}

.font-simple {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
  color: $primary;
}

.font-small-year {
  font-family: "Bebas Neue", system-ui;
  font-weight: 400;
  font-size: 1.563rem;
  line-height: 120%;
  color: $secondary;
}
