@import "src/shared/styles/mixins.scss";

$primary: #42567a;
$secondary: #3877ee;
$highlight: #ef5da8;
$light-divider: rgba($primary, 0.1);
$circle-border: rgba($primary, 0.2);
$background-pagination-button: #fff;
$navigation-circle-slider: rgba($primary, 0.5);
$line-gradient: linear-gradient(180deg, #3877ee -5%, #ef5da8 85%);

.font-header {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 120%;
  color: $primary;
}

.font-simple {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
  color: $primary;
}

.font-counter {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  color: $primary;
}

.font-years {
  font-size: 12.5rem;
  font-weight: 700;
  line-height: 80%;
  letter-spacing: -4px;

  @include mini-laptop {
    font-size: 8.75rem;
  }
}

.font-small-year {
  font-family: "Bebas Neue", system-ui;
  font-weight: 400;
  font-size: 1.563rem;
  line-height: 120%;
  color: $secondary;
}
