@import "src/shared/styles/constants.scss";

.circle-slider {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.circle-slider__pagination {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  gap: 140px;
  padding-bottom: 50px;
  position: relative;
}

.swiper__wrapper {
  height: fit-content;
}

.swiper {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
}
